#opciones{
    display: flex;
    justify-content: center;
}

.images{
    width: 30ch;
    height: 15ch;
}

.contenedorPestanas{
    display: flex;
    flex-direction: row;
}

#barra{
    position: fixed;
    width: 100%;
}

#lissajous{
    display: flex;
    justify-content: center;
    
}



